@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #F9F9F9;
    color: #2E2C2C;
}

/* Formatação do cabeçalho */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav img {
    width: 200px;
    height: auto;
    margin: 0px;
}

nav ul li {
    display: inline;
    transition: 0.5s;
    padding: 10px;
    margin: 10px;
}

nav li:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 2px 2px 2px 0px #D39C10;
    transition: 0.5s;
}

nav ul li a {
    font-family: "Roboto", sans-serif;
    color: #2E2C2C;
    font-weight: 600;
}

/* Formatação do conteúdo principal */
.conteudo {
    padding-top: 40px;
    border-top: 2px solid #AAAAAA;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0px 50px 0px;
}

.descricao-principal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
    max-width: 50%;
}

.titulo-principal {
    font-family: "Roboto Slab", sans-serif;
    font-size: 100px;
    font-weight: 500;
    color: #2E2C2C;
}

.titulo-principal1 {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 500;
    background: linear-gradient(180deg, #2E2C2C 15.33%, #917B23 15.34%, #FC0 117.33%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitulo-principal {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #2E2C2C;
}

.botoes-principal {
    display: flex;
    margin-top: 50px;
}

.botao-claro {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: #ffffff;
    color: #2E2C2C;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 132px;
    height: 40px;
    padding: 6px;
    margin: 20px 20px 20px 0px;
    box-shadow: 2px 2px 2px 0px #D39C10;
}

.botao-dourado {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: #D39C10;
    color: #2E2C2C;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 132px;
    height: 40px;
    padding: 6px;
    margin: 20px 20px 20px 0px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.botao-normal {
    width: fit-content;
    margin: 20px 20px 20px 0px;
}

.imagem-principal {
    width: 450px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

/* Formatação do conteúdo sobre nos */
.conteudo-sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
    padding: 50px 0px 50px 0px;
}

.texto-img-sobre-nos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
}

.descricao-sobre-nos {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 0px 0 0px;
    max-width: 50%;
}

.botoes-sobre-nos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.paragrafo {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2E2C2C;
    max-width: 80%;
}

.image-sobre-nos {
    display: flex;
}

.titulo-destaque {
    color: #2E2C2C;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
}

.undeline {
    border-bottom: 4px solid #D39C10;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

/* Formatação do conteudo projetos */
.conteudo-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
    padding: 50px 0px 50px 0px;
}

.tresProjetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.projeto {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px 0px rgba(211, 156, 16, 0.75);
}

.projeto img {
    width: 50%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    transition: 1s;
}

img:hover {
    transform: scale(1.01);
    transition: 1s;
}

.descricao-projetos {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    gap: 30px;
    width: 80%;
}

.paragrafo-projetos {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2E2C2C;
    width: 90%;
}


/* Formatação do conteudo imacto real */
.conteudo-impacto-real {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
    padding: 50px 0px 50px 0px;
}

.descricao-impacto-real {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 100px;
}

.comentarios-impacto-real {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px 0px rgba(211, 156, 16, 0.75);
}

.comentario {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.imagem-perfil {
    width: 130px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

strong {
    color: #D39C10;
}

/* Formatação do conteudo junte-se a nós */
.conteudo-junte-se-a-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
    padding: 50px 0px 50px 0px;
}

.texto-junte-se {
    display: flex;
    align-items: center;
    width: 80%;
}

.descricao-junte-se {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    gap: 50px;
}

.formulario-junte-se {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    width: 50%;
    margin: 70px auto;
    padding: 20px;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px 0px rgba(211, 156, 16, 0.75);
}

input {
    width: 100%;
    height: 48px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #595959;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}

input::placeholder {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* Formatação do rodapé */
footer {
    text-align: center;
    border-top: 2px solid #AAAAAA;
    padding: 20px;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2E2C2C;
}

@media (max-width:768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 15em;
    }

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 32px;
        margin-left: 20px;
        max-width: 80%;
    }

    .descricao-principal {
        display: flex;
        gap: 32px;
        margin-left: 40px;
        max-width: 100%;
    }

    .titulo-principal {
        font-size: 80px;
    }

    .titulo-principal1 {
        font-size: 50px;
    }

    .subtitulo-principal {
        font-size: 24px;
    }

    .imagem-principal {
        width: 20em;
        min-width: 300px;
        height: auto;
    }

    .conteudo-sobre-nos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 50px 0px 50px 0px;
        padding: 50px 0px 50px 0px;
    }

    .texto-img-sobre-nos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 0;
    }

    .descricao-sobre-nos {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 20px;
        max-width: 100%;
    }

    .projeto {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px auto;
        width: 80%;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        box-shadow: 4px 4px 4px 0px rgba(211, 156, 16, 0.75);
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }


    .projeto img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        object-fit: cover;
        transition: 1s;
    }


    .paragrafo-projetos {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #2E2C2C;
    }

    .comentarios-impacto-real {
        flex-wrap: wrap;
    }

    .comentario{
        flex-wrap: wrap


    }
    .descricao-impacto-real{
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0;
    }

    .descricao-junte-se {
        align-content: center;
        flex-wrap: wrap;
        padding-right: 0;
    }

    .texto-junte-se{
        flex-direction: column;
    }

    .formulario-junte-se {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 0px auto;
        padding: 20px;
        gap: 20px;
    }

}